# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bartk\OneDrive\Semestr 3\Optymalizacja kombinatoryczna\GITHUB - portfolio\PCmax\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
